@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-gray-900 text-gray-100 leading-normal h-screen;
    }
}

@tailwind components {
  @media (max-width: 768px) {
  .small-box {
    @apply w-12 h-12;
  }
}

}
@font-face {
  font-family: 'Dortmund';
  src: url('/assets/fonts/Dortmund-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

.mainheading {
  font-family: 'Dortmund', sans-serif;
  font-weight: 800;
}

body, html {
  overflow-x: hidden;
}


.serif {
  font-family: 'Georgia', serif;
}